<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Nutriana</title>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static '../static/img/logo.png' %}">
    <link href="{% static '../static/css/style.css' %}" rel="stylesheet">
    <script src="{%static '../static/js/script.js'%}"></script>

</head>

<body>
    <div class="container">
        <!-- HEADER: Nutriana logo, log in button -->
        <header>
            <a href="/"><img src="{% static '../static/img/logo.png' %}" class="logo"></a>
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="">About</a>
                <a href="">Our Products</a>
                <a href="">Contact</a>
                {% if current_user %}
                <a href="/sign-out">Sign Out</a>
            </nav>
            {% else %}
            <button id="myBtn" class="first-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" class="bi bi-person-fill"
                    viewBox="0 0 16 16" style="vertical-align: middle;">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                Log In</button>
            {% endif %}
        </header>
        <!-- Image of family and Shop Now Button -->
        <div class="image-container">
            <img src="{% static '../static/img/family_home.png'%}" class="main-img">
            <a href="" class="shop-now">Shop Now</a>
        </div>
        <div class="featured-products-row">
            <h1 class="text-center">Featured Products</h1>
            <div class="featured-products text-center">
                {% for product in all_products %}
                <div class="product">
                    <div class="product-img xxs-margin-b">
                    <a href="/our-products/{{product.id}}"><img src="{{ product.image.url }}"></a>
                    </div>
                    <small><a href="/our-products/{{product.id}}">{{product.name}}</a></small><br>
                    <small>${{ product.price|floatformat:2 }}</small>
                </div>
                {% endfor %}
            </div>
            <a href=""><p class="text-center">View All Products ></p></a>
        </div>
        <div class="quote-row">
            <video class="healthy" autoplay muted loop>
                <source src="{% static '../static/img/video.mp4'%}" type="video/mp4"></source>
            </video>
            <h1 class="healthy-overlay">Bring us with you on your journey to a happy and healthy life</h1>
        </div>
        <div class="text-row">
            <h1>Get the latest news</h1>>
        </div>

        <footer style="text-align: center;">
            <p>Shop Nutriana</p>
            <p>This is the footer</p>
        </footer>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 class="text-center" style="text-transform: uppercase">Sign In</h2>
                <p class="text-center xs-margin-b"><small>Enjoy exclusive deals and rewards when you join!</small></p>
            </div>
            <div class="modal-body">
                <form action="/process-login" method="post">
                    {% csrf_token %}
                    <div class="input-field"><input type="text" name="email" placeholder="Email" class="validate"></div>
                    <div class="input-field"><input type="password" name="password" placeholder="Password" class="validate"></div>
                    <button type="submit" class="second-button">Sign in</button>
                </form>
                <a href="/sign-up" class="no-underline"><p class="become-member">Become a Member</p></a>
            </div>
        </div>

    </div>

    <div id="myModal2" class="modal">
        This is a test
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");



        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>

</html>