<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Nutriana</title>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static '../static/img/logo.png' %}">
    <link href="{% static '../static/css/style.css' %}" rel="stylesheet">
    <script src="{%static '../static/js/script.js'%}"></script>

</head>

<body>
    <div class="container">
        <!-- HEADER: Nutriana logo, log in button -->
        <header>
            <a href="/"><img src="{% static '../static/img/logo.png' %}" class="logo"></a>
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="">About</a>
                <a href="/our-products">Our Products</a>
                <a href="">Contact</a>
                {% if current_user %}
                <a href="/sign-out">Sign Out</a>
            </nav>
            {% else %}
            <button id="myBtn" class="first-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" class="bi bi-person-fill"
                    viewBox="0 0 16 16" style="vertical-align: middle;">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                Log In</button>
            {% endif %}
        </header>
        <p class="text-center xxs-margin-t" style="font-size: 12px;"><a href="/">Home</a> > <a href="/our-products">All Products</a> >
            <a href="">{{product.name}}</a></p>
        <div class="product-container">
            <div class="one-product-img">
                <img src="{{product.image.url}}">
            </div>
            <div class="one-product-desc">
                <h1>{{product.name}}</h1>
                <h3>${{product.price|floatformat:2}}</h3><br>
                <hr>
                <p>{{product.desc}}</p>
                <hr><br>
                <div class="product-options" style="margin-top: 15%;">
                    {% if current_user in product.users_who_like.all %}
                    <svg xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle;" width="16" height="16"
                        fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                        <path
                            d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                    </svg><a href="/our-products/{{product.id}}/unfavorite">
                        <p>Un-favorite this item</p>
                    </a>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-suit-heart-fill" style="vertical-align:bottom;" viewBox="0 0 16 16">
                        <path
                            d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
                    </svg><a href="/our-products/{{product.id}}/favorite">
                        <p>Favorite this item</p>
                    </a>
                    {% endif %}
                </div>
                <div class="product-options xxs-margin-t">
                    <a href="/our-products/{{product.id}}/remove-from-order" class="remove-from-cart no-underline">-</a>
                    {% for product_item in object.orders.all %}
                    <p class="product-qty">{{ product_item.quantity }}</p>
                    {% empty %}
                    <p class="product-qty">0</p>
                    {% endfor %}
                    <a href="/our-products/{{product.id}}/add-to-order" class="add-to-cart no-underline">+</a>
                </div>
                {% if messages %}
    <ul class="messages text-center mt-3" style="list-style-type: none;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}</strong>
    </li>
    {% endfor %}
</ul>
{% endif %}
            </div>
        </div>